* {
  font-family: "Roboto", sans-serif;
}

.SproutApp {
  text-align: center;
}

.content {
  background: #81d947;
  height: 100vh;
  width: 100vw;
  background-image: url(./Assets/siteBackground.png);
  background-size: 100vw auto;
  background-repeat: no-repeat;
}

.sproutChatIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

@keyframes zoomInOut {

  0%,
  100% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
    /* Adjust the scale factor based on your preference */
  }

}

.sproutChatIcon img {
  height: 70px;
  margin-bottom: 15px;
  margin-right: 15px;
  border-radius: 50px;
  border: 4px solid #81d947;
  animation: zoomInOut 5s infinite alternate;
  /* Adjust the duration as needed */
}


.sproutChatWindow {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30vw;
  height: 80vh;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  margin-right: 4vw;
  border-radius: 20px;
}

.sproutHeader {
  background-color: #ffffff;
  color: #fff;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 10px;
}

.sproutHeader img {
  height: 38px;
}

.sproutChatContent {
  padding: 10px;
  overflow-y: auto;
  flex: 1;
  background: #f9f9f9;
}

.sproutChatBubble {
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  max-width: 70%;
  /* Adjust as needed */
  /* word-wrap: break-word; */
  margin-top: 8px;
}

.fullScreen .sproutChatBubble {
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  max-width: 100%;
  /* Adjust as needed */
  /* word-wrap: break-word; */
  margin-top: 8px;
}

.SinglesproutChatBubble {
  padding: 15px 20px;
  text-align: left;
  margin-top: 12px;
}

.fullScreen .person {
  margin-left: 50%;
}

p {
  margin: 0px;
}

.bot .SinglesproutChatBubble {
  background-color: #82d838;
  color: #ffffff;
  align-self: flex-start;
  border-radius: 5px 25px 25px 25px;
}

.person {
  margin-left: 30%;
}

.person .SinglesproutChatBubble {
  background-color: #e3e2e3;
  color: #2f4857;
  align-self: flex-end;
  border-radius: 25px 5px 25px 25px;
}

.fullScreen .person .SinglesproutChatBubble {
  max-width: 100%;
  margin-left: 5%;
}

.fullScreen .SinglesproutChatBubble {
  max-width: 45%;
}

.sproutChatInput {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.sproutChatInput button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

/* Add these styles to your existing CSS file */

.fullScreen {
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.SproutApp.fullScreen {
  overflow: hidden;
  /* Hide overflow when in full-screen mode */
}

.sproutChatWindow.fullScreen {
  width: 90%;
  height: 80%;
  margin: 5%;
}

.sproutHeader.fullScreen {
  justify-content: flex-start;
}

.sproutChatIcon.fullScreen {
  display: none;
  /* Hide chat icon when in full-screen mode */
}

.sproutHeader .controllerSet img {
  height: 300px;
  margin-left: 5px;
  cursor: pointer;
}

.sproutHeader .online-text {
  height: 20px;
  margin-top: 3px;
}

.senderIcon {
  display: flex;
  margin-bottom: 3px;
}

.senderIcon img {
  height: 27px;
}

.person .senderIcon {
  justify-content: end;
  display: flex;
}

.bot .senderIcon img {
  margin-right: 4px;
}

.person .senderIcon img {
  margin-left: 4px;
}

.SinglesproutChatBubble p {
  font-weight: 500;
}

.senderIcon p {
  font-size: 14px;
  margin-top: 5px;
  color: #a2a3a3;
}

.sproutChatInput input {
  outline: none;
  border: 0px solid Black;
  flex: 1;
  margin-right: 10px;
  box-shadow: 0px 0px 10px #b7b7b7c7;
  padding: 10px 20px;
  border-radius: 25px;
}

.sproutChatInput {
  padding: 15px 25px;
  padding-bottom: 6px;
}

.sproutChatInput img {
  height: 25px;
  margin: 0px 5px;
  margin-top: 7px;
  cursor: pointer;
}

.chatDate p {
  color: #b7b7b7;
  font-size: 12px;
  text-align: center;
}

.selectionText {
  margin-top: 20px;
}

.personaSelect .selectionText p {
  color: #b7b7b7;
  font-size: 12px;
  text-align: center;
}

.personaSelect .selectionText .mainText {
  font-size: 17px;
}

.actoionButtons {
  text-align: right;
}

.actoionButtons button {
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 20px;
  border: 1px solid #82d838;
  padding: 5px 10px;
  background: #ffffff;
  color: #82d838;
  cursor: pointer;
  text-align: right;
}

.bot a {
  color: #ffffff;
}

.person a {
  color: #2f4857;
}

@media screen and (max-width: 900px) {
  .sproutChatWindow {
    width: 40vw;
  }
}

@media screen and (max-width: 680px) {
  .sproutChatWindow {
    width: 50vw;
  }

  .sproutHeader img {
    height: 28px;
  }

  .sproutChatIcon img {
    height: 50px;
    margin-bottom: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .sproutChatWindow {
    width: 90vw;
  }

  .sproutHeader img {
    height: 25px;
  }

  .sproutHeader .controllerSet img {
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
  }

  .sproutHeader .online-text {
    height: 15px;
    margin-top: 3px;
  }

  .SinglesproutChatBubble {
    padding: 10px 14px;
    font-size: 15px;
  }
}

.bottomTextLine a,
.bottomTextLine p {
  color: #81d947;
  font-size: 14px;
  text-decoration: none;
}

.bottomTextLine p {
  color: #a2a3a3;
}

.bottomTextLine {
  padding-bottom: 8px;
  display: flex;
  padding: 8px 25px;
  justify-content: space-between;
  padding-bottom: 10px;
}

.chatBubbleSingle {
  background: red;
}

.botDetails {
  display: flex;
}

.botDetails img {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  margin-bottom: 5px;
}

.botDetails h2 {
  height: 35px;
  color: #a2a3a3;
  font-weight: 400;
  margin: 0px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 5px;
  text-align: left;
}

.personaList {
  display: block;
  margin-top: 15px !important;
  margin: 0px 20%;
  justify-content: space-around;
}

.fullScreen .personaList {
  display: flex;
  margin: 0px 18%;
}

.fullScreen .SinglePersona img {
  margin-right: 15px;
  margin-left: 10px;
}

.fullScreen .SinglePersona h4 {
  margin-right: 25px;
}

.SinglePersona {
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 15px;
  border: 2px solid #81d947;
  cursor: pointer;
  transition: 0.8s;
  display: flex;
  margin-bottom: 10px;
}

.SinglePersona:hover {
  box-shadow: 0px 0px 10px #81d947;
}

.SinglePersona img {
  height: 70px;
  border-radius: 50px;
  margin-right: 10px;
}

.SinglePersona h4 {
  color: #81d947;
  font-size: 14px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  padding-top: 2px;
  margin-top: 16px;
}

.SinglePersona p {
  color: #b7b7b7;
  font-size: 12px;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .fullScreen .personaList {
    display: block;
    margin: 0px 5%;
  }

  .personaList {
    display: block;
    margin: 0px 5%;
  }
}